@import 'compass/reset';
@import 'compass/css3';

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

$header-height: 80px;

*, *:before, *:after {
  @include box-sizing(border-box);
}

body {
  color: #565656;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  padding-top: $header-height;
}

header.site {
  background-color: #efefef;
  display: block;
  height: $header-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  @include box-shadow(inset rgba(255,255,255,0.3) 0 1px 0,rgba(0,0,0,0.22) 2px 2px 2px);

  .title {
    float: left;
    font-size: 40px;
    line-height: $header-height - 10;
    text-align: right;
    width: 40%;
  }
  .search {
    float: left;
    padding-left: 20px;
    width: 60%;

    #search-input {
      background: transparent;
      border: 0;
      border-bottom: 1px solid #999;
      color: #777;
      display: block;
      font-size: 40px;
      line-height: $header-height - 10;
      margin: 0;
      outline: 0;
      padding: 0;
      width: 100%;
    }
  }
}

.prompt {
  color: #cdcdcd;
  font-size: 40px;
  margin-top: 50px;
  text-align: center;
}

.photos {
  display: block;
  line-height: 0;
  overflow: auto;

  .photo {
    float: left;
    height: auto;
    width: 50%;

    a {
      @include opacity(1);
      @include transition(opacity 0.25s ease-out);

      &:hover, &:focus {
        @include opacity(0.6);
      }
    }

    img {
      height: auto;
      width: 100%;
    }
  }
}
@media (min-width: 640px) {
  .photos {
    .photo {
      width: 33%;
    }
  }
}
@media (min-width: 1024px) {
  .photos {
    .photo {
      width: 20%;
    }
  }
}
@media (min-width: 1400px) {
  .photos {
    .photo {
      width: 10%;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 800px;
}
.loading {
  margin: 50px auto 0;
  width: 350px;
}

.photo-detail {
  background-color: #fff;
  position: fixed;
  top: $header-height;
  width: 100%;
  @include box-shadow(inset rgba(255,255,255,0.3) 0 1px 0,rgba(0,0,0,0.22) 2px 2px 2px);

  header {
    padding: 20px 0;
    text-align: center;
    a {
      background-color: #fff;
      border: 1px solid lighten(#ff5a49, 15%);
      color: #ff5a49;
      font-size: 18px;
      padding: 2px 10px;
      text-decoration: none;
      @include border-radius(6px);
      @include transition(color 0.35s ease-out, background-color 0.25s ease-out);

      &:hover, &:focus {
        background-color: lighten(#ff5a49, 30%);
        color: darken(#ff5a49, 20%);
      }
    }
  }
  footer {
    font-size: 18px;
    line-height: 24px;
    padding: 10px 0;
    text-align: center;
    .date {
      color: #777;
      display: block;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
  img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    @include box-shadow(rgba(0,0,0,0.22) 0 2px 2px);
  }
}

.modal-bg {
  background-color: rgba(#000, 0.75);
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.modal {
  background-color: #fff;
  left: 50%;
  margin-left: -250px;
  margin-top: -260px;
  padding: 0 10px 10px;
  position: absolute;
  top: 50%;
  z-index: 101;

  header {
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: right;
  }
}