<!DOCTYPE html>
<!--[if lt IE 7]>       <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>          <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>          <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->  <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Photos</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/app.css">

    <!-- build:js js/main.js -->
      <script src="js/vendor/modernizr.min.js"></script>
      <script src="js/vendor/jquery.min.js"></script>

      <script src="js/vendor/handlebars.js"></script>
      <script src="js/vendor/ember.js"></script>
      <script src="js/vendor/ember-data.js"></script>

      <script src="js/app/app.js"></script>
      <script src="js/app/routes/router.js"></script>

      <script src="js/app/controllers/photo_controller.js"></script>
      <script src="js/app/controllers/photos_controller.js"></script>

      <script src="js/app/models/photo.js"></script>
      <script src="js/app/models/store.js"></script>

      <script src="js/main.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <script type="text/x-handlebars" data-template-name="application">
      <header class="site">
        <div class="container">
          <div class="title">flickr search for:</div>
          <div class="search">
            {{view Ember.TextField id="search-input" valueBinding="App.Search.value" action="searchTag"}}
          </div>
        </div>
      </header>
      {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="index">
      <div class="container">
        <div class="prompt">Enter a search term above</div>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="photos">
      {{#if App.Search.isLoaded}}
        <div class="photos">
          {{#each photo in controller}}
            <div class="photo">
            {{#linkTo 'photo' photo}}<img {{bindAttr src="photo.urlSquare"}}/>{{/linkTo}}
            </div>
          {{/each}}
        </div>
        {{outlet}}
      {{else}}
        <div class="loading">
          <img src="images/ajax_loader.gif"/>
        </div>
      {{/if}}
    </script>

    <script type="text/x-handlebars" data-template-name="photo">
      <section class="photo-detail">
        <div class="container">
          <header>
            {{#linkTo 'photos'}}close{{/linkTo}}
          </header>

          <img {{bindAttr src="urlLarge"}} onload="detailImageLoaded()"/>
          <footer>
            <div class="date">{{date}}</div>
            {{title}}
          </footer>
        </div>
      </section>
    </script>
  </body>
</html>
